<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button menu="mainMenu"></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center">Data Workorder</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon name="cog"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
	<ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher> 

	<ion-grid class="ion-fixed">
		<ion-row>
			<ion-col size="12">
				<app-workorder-list *ngFor="let work of dataWo" [dataWo]="work"></app-workorder-list> 
			</ion-col>
		</ion-row>
	</ion-grid> 
</ion-content>
