<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Asetin.id</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-grid class="ion-fixed">
    <ion-row>
      <ion-col size="12">
        <ion-card>  
          <ion-card-content>
            <ion-item lines="none">
              <img src="/assets/Glases.jpg" alt="" slot="start" style="width: 20%;">
              <div *ngIf="workorders == null">Workorder Belum di-Pilih</div>
              <div *ngIf="workorders != null">
                <h2>
                  <ion-col size="12" class="ion-no-padding">
                    {{ workorders.name }}
                  </ion-col></h2>  
                <hr>
                <h3>Location : {{ workorders.location_name }}</h3>
                <h3>Site : {{ workorders.site_name }}</h3>
								<h3>Building : {{ workorders.building_name }}</h3>
								<h3>Status : {{ workorders.status }}</h3>
              </div>
            </ion-item>
          </ion-card-content>
          <ion-item lines="none" [hidden]="workorders != null">
            <ion-button fill="outline" color="primary" routerLink="/workorder" style="width: 100%;">
              <ion-icon slot="start" name="list"></ion-icon>
              Pilih Work Order
            </ion-button>
          </ion-item>
          <ion-item lines="none" routerLink="/aset" [hidden]="workorders == null"> 
            <ion-button fill="outline" slot="end">Lihat Data Aset</ion-button>
          </ion-item>
				</ion-card>
			</ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>
