<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/aset"></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-text-center">Detail Aset</ion-title>
		<ion-buttons slot="end">
			<ion-button [routerLink]="link + '/image/' + asetId">
				<ion-icon slot="start" name="images"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
	<ion-grid class="ion-no-padding">
		<ion-row>
			<ion-col size="12">
				<ion-card>
					<!-- <img src="/assets/no-image.png" /> -->
					<div *ngIf="imageAset === null">
						<img src="/assets/no-image.png">
					</div>
					
					<div *ngIf="imageAset !== null">
						<img [src]="transform(imageAset[imageAset.length-1].asset_image)" onerror="this.src='/assets/no-image.png';">
					</div>
					<ion-card-header>
						<ion-card-subtitle>QR Code : </ion-card-subtitle>
						<ion-card-title>{{ detailAset.qr_code || 'Belum ada QR Code' }}</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-text>
							<ion-row>
								<ion-col size="6" class="ion-no-padding" style="margin-top: 10px;">
									<p>Kondisi Aset : </p>
									<h2>{{ detailAset.condition || 'Kosong' }}</h2>
								</ion-col>
								<ion-col size="6" class="ion-no-padding" style="margin-top: 10px;">
									<p>Serial Number :</p>
									<h2>{{ detailAset.serial_number || 'Kosong' }}</h2>
								</ion-col>

								<ion-col size="6" class="ion-no-padding" style="margin-top: 10px;">
									<p>Accounting Number : </p>
									<h2>{{ detailAset.accounting_number || 'Kosong' }}</h2>
								</ion-col>
								<ion-col size="6" class="ion-no-padding" style="margin-top: 10px;">
									<p>Year Purchase : </p>
									<h2>{{ detailAset.year_purchase || 'Kosong' }}</h2>
								</ion-col>

								<ion-col size="12" class="ion-no-padding" style="margin-top: 10px;">
									<p>Aset Value : </p>
									<h2>Rp. {{ detailAset.asset_value || '0' }}</h2>
								</ion-col>

								<ion-col size="12" class="ion-no-padding" style="margin-top: 10px;">
									<p>Notes : </p>
									<h2>{{ detailAset.notes || 'Tidak ada notes.' }}</h2>
								</ion-col>

							</ion-row>
						</ion-text>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="link + asetId + '/edit'">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
	</ion-fab>
</ion-content>
