<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button menu="mainMenu"></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center">Data Order</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon slot="start" name="bookmark"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar color="primary">
    <ion-list-header class="ion-no-padding">
			<ion-searchbar 
				showCancelButton="never" 
				placeholder="Cari Aset" 
				debounce="10000"
				style="padding: 15px;" color="light" >
			</ion-searchbar>
			<!-- (ionInput)="cari($event)"  -->
    </ion-list-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
	<!-- <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher> -->
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<!-- <app-aset-list *ngFor="let order of dataOrder" [dataAset]="aset" [hrefLink]="generateLink()"></app-aset-list> -->
				<ion-list>
					<!-- <ion-item [routerLink]="hrefLink + dataAset.id"> -->
					<ion-item>
						<ion-thumbnail slot="start">
							<!-- <img src="https://via.placeholder.com/150" alt="" /> -->
							<img src="/assets/no-image.png" alt="" />
						</ion-thumbnail>
						<ion-label>
							<ion-row>
								<ion-col size="12" class="ion-no-padding">
									<h2>Bla Bla Bla</h2>
								</ion-col>
								<ion-col size="6" class="ion-no-padding">
									<h3>Bla Bla Bla</h3>
								</ion-col>
								<ion-col size="6" class="ion-no-padding">
									<h3>Bla Bla Bla</h3>
								</ion-col>
								<ion-col size="12" class="ion-no-padding">
									Bla..
								</ion-col>
							</ion-row>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- <ion-infinite-scroll threshold="30%" (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll> -->
	
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/request/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
	</ion-fab>
</ion-content>
