<ion-list>
	<ion-item [routerLink]="hrefLink + dataAset.id">
		<ion-thumbnail slot="start">
			<!-- <img src="https://via.placeholder.com/150" alt="" /> -->
			<img src="/assets/no-image.png" alt="" />
		</ion-thumbnail>
		<ion-label>
			<ion-row>
				<ion-col size="12" class="ion-no-padding">
					<h2>{{ dataAset.category_name }}</h2>
				</ion-col>
				<ion-col size="6" class="ion-no-padding">
					<h3>{{ dataAset.brand_name }}</h3>
				</ion-col>
				<ion-col size="6" class="ion-no-padding">
					<h3>{{ dataAset.model_name }}</h3>
				</ion-col>
				<ion-col size="12" class="ion-no-padding">
					<p>{{ dataAset.qr_code || "Not Set" }}</p>
				</ion-col>
			</ion-row>
		</ion-label>
	</ion-item>
</ion-list>