<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/aset"></ion-back-button>
		</ion-buttons>
		<ion-title>Pemindahan Data Aset</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-segment (ionChange)="segmentChanged($event)">
			<ion-segment-button value="detail">
				<ion-label>Detail Aset</ion-label>
			</ion-segment-button>
			<ion-segment-button value="form">
				<ion-label>Form Pindah</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="detailAset !== null" class="ion-padding">
	<div [ngSwitch]="segment">
		<div *ngSwitchCase="'detail'">
			<ion-grid fixed>
				<ion-row>
					<ion-col size="12">
						<ion-card>
							<div *ngIf="imageAset === null">
								<img src="/assets/no-image.png">
							</div>
							
							<div *ngIf="imageAset !== null">
								<img [src]="transform(imageAset[0].asset_image)" onerror="this.src='/assets/no-image.png';">
							</div>
						</ion-card>

						<ion-item>
							<ion-label position="floating">QR Code :</ion-label>
							<ion-input [(ngModel)]="detailAset.qr_code" #qrCode="ngModel" name="qrCode" type="text" readonly>
							</ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Condition :</ion-label>
							<ion-input [(ngModel)]="detailAset.condition" #condition="ngModel" name="condition" type="text" readonly>
							</ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Serial Number :</ion-label>
							<ion-input [(ngModel)]="detailAset.serial_number" #serialNumber="ngModel" name="serialNumber" type="text"
								readonly></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Accounting Number :</ion-label>
							<ion-input [(ngModel)]="detailAset.accounting_number" #accountingNumber="ngModel" name="accountingNumber"
								type="text" readonly></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Year Purchase :</ion-label>
							<ion-input [(ngModel)]="detailAset.year_purchase" #yearPurchase="ngModel" name="yearPurchase"
								type="number" readonly></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Notes :</ion-label>
							<ion-textarea [(ngModel)]="detailAset.notes" #notes="ngModel" rows="2" name="notes" readonly>
							</ion-textarea>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
		<div *ngSwitchCase="'form'">

			<ion-grid fixed>
				<ion-row>
					<ion-col size="12">
						<ion-text>
							<h4 class="ion-text-center">Pilih Lokasi Pemindahan</h4>
						</ion-text>

						<form #form="ngForm" (ngSubmit)="moveAset(form)">
							<ion-item>
								<ion-grid no-padding>
									<ion-row>
										<ion-col size="12" *ngIf="uploadImg !== null">
											<img [src]="uploadImg.path" alt="">
										</ion-col>
										<ion-col size="12">
											<ion-button expand="full" (click)="openCamera()">
												<ion-icon slot="start" name="camera"></ion-icon>
												Ambil Foto Aset Pemindahan
											</ion-button>
											<ion-text color="danger" *ngIf="Vimage === 0">
											<sub>*Silahkan Upload Photo Aset</sub>
											</ion-text>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-item>

							<ion-item>
								<ion-label> Lokasi Aset : </ion-label>

								<ion-text color="danger" *ngIf="Vlokasi === 0" class="ion-text-center">
									<sub>*Harap Pilih Lokasi</sub>
								</ion-text>

								<ionic-selectable [(ngModel)]="Vlokasi" name="locationAset" [items]="dataLocation" itemValueField="id"
									itemTextField="name" headerColor="primary" searchFailText="Lokasi Tidak di-Temukan!"
									[canSearch]="true" (onChange)="site($event)">

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Lokasi
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-location="item" selected>
										({{ location.code }}) {{ location.name }}
									</ng-template>

								</ionic-selectable>
							</ion-item>

							<ion-item>
								<ion-label> Site Aset : </ion-label>
								<ionic-selectable [(ngModel)]="Vsite" name="siteAset" [items]="dataSite" itemValueField="id"
									itemTextField="name" headerColor="primary" searchFailText="Site Tidak di-Temukan!" [canSearch]="true"
									(onChange)="building($event)">

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Site
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-site="item" selected>
										({{ site.code }}) {{ site.name }}
									</ng-template>

								</ionic-selectable>
							</ion-item>

							<ion-item>
								<ion-label> Building Aset : </ion-label>
								<ionic-selectable [(ngModel)]="Vbuilding" name="buildingAset" [items]="dataBuilding" itemValueField="id"
									itemTextField="name" headerColor="primary" searchFailText="Building Tidak di-Temukan!"
									[canSearch]="true" (onChange)="room($event)">

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Building
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-building="item" selected>
										({{ building.code }}) {{ building.name }}
									</ng-template>

								</ionic-selectable>
							</ion-item>

							<ion-item>
								<ion-label> Room Aset : </ion-label>
								<ionic-selectable [(ngModel)]="Vroom" name="roomAset" [items]="dataRoom" itemValueField="id"
									itemTextField="name" headerColor="primary" searchFailText="Room Tidak di-Temukan!" [canSearch]="true"
									(onChange)="roomend($event)">

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Room
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-room="item" selected>
										({{ room.code }}) {{ room.name }}
									</ng-template>

								</ionic-selectable>
							</ion-item>


							<ion-item lines="none">
								<ion-text color="danger">
									<p *ngIf="">
										Silahkan Upload Photo Aset
									</p>
									<hr>
									<p *ngIf="Vlokasi === 0">
										Silahkan Pilih / Pilih Ulang Lokasi
									</p>

									<p *ngIf="Vsite === 0">
										Silahkan Pilih / Pilih Ulang Site
									</p>

									<p *ngIf="Vbuilding === 0">
										Silahkan Pilih / Pilih Ulang Building
									</p>

									<p *ngIf="Vroom === 0">
										Silahkan Pilih / Pilih Ulang Room
									</p>
								</ion-text>

								<ion-label>
									<hr>
								</ion-label>
							</ion-item>

							<ion-button expand="full" color="primary" type="submit"
								[disabled]="!form.valid || Vimage === 0 || Vlokasi === 0 || Vsite === 0 || Vbuilding === 0 || Vroom === 0">
								Pindahkan Aset
							</ion-button>

						</form>
					</ion-col>
				</ion-row>
			</ion-grid>

		</div>
	</div>
</ion-content>