<ion-header>
		<ion-toolbar color="primary">
			<ion-buttons slot="start">
				<ion-menu-button class="ion-text-center"></ion-menu-button>
			</ion-buttons>
			<ion-title>Profile</ion-title>
		</ion-toolbar>
	</ion-header>
	
	<ion-content class="ion-padding">
		<div style="text-align: center; margin-top: 20px; margin-bottom: 10px;" color="primary">
			<img
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKC2yrLJxoODZrmJy_wjZr1dqyah4JLCyVCs9qEtHopnIKyZQ7NQ"
				style="border-radius: 50px; width: 150px;">
		</div>
		<ion-list lines="full">
			<ion-item-group>
				<ion-item-divider>
					<ion-label>Informasi Akun</ion-label>
				</ion-item-divider>
				<ion-item>
					<ion-icon name="person" slot="start" color="medium"></ion-icon>
					<ion-label>
						<h3>{{ userName }}</h3>
					</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="mail" slot="start" color="medium"></ion-icon>
					<ion-label>
						<h3>{{ userEmail }}</h3>
					</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="pricetag" slot="start" color="medium"></ion-icon>
					<ion-label>
						<h3>{{ userStatus }}</h3>
					</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="time" slot="start" color="medium"></ion-icon>
					<ion-label>
						<h3>{{ userCreated }}</h3>
					</ion-label>
				</ion-item>
			</ion-item-group>
		</ion-list>
		<ion-list lines="full">
			<ion-item-group>
				<ion-item-divider>
					<ion-label>Ganti Kanti Sandi</ion-label>
				</ion-item-divider>
				<form #form="ngForm" (ngSubmit)="changePassword(form)">
					<ion-item>
						<ion-input type="password" [(ngModel)]="old" name="old" #oldPass="ngModel" placeholder="Kata Sandi Sekarang" required></ion-input>
	
						<ion-text *ngIf="oldPass.invalid && oldPass.touched" lines="non" color="danger">
							<sub>*Harap Isi Kata Sandi Sekarang</sub>
						</ion-text>
					</ion-item>
					<ion-item>
						<ion-input type="password" [(ngModel)]="new" name="new" #newPass="ngModel" placeholder="Kata Sandi Baru" required></ion-input>
						
						<ion-text *ngIf="newPass.invalid && newPass.touched" lines="non" color="danger">
							<sub>*Harap Isi Kata Sandi Baru</sub>
						</ion-text>
					</ion-item>
					<ion-item>
						<ion-input type="password" [(ngModel)]="retype" name="retype" #retypePass="ngModel" placeholder="Ulangi Kata Sandi" required></ion-input>
						
						<ion-text *ngIf="retypePass.invalid && retypePass.touched" lines="non" color="danger">
							<sub *ngIf="retypePass.invalid && retypePass.touched">*Harap Ulangi Password Baru</sub>
						</ion-text>
	
						<ion-text *ngIf="retypePass.valid && retypePass.touched" lines="non" color="danger">
							<sub *ngIf="new !== retype">*Kata Sandi Tidak Sama</sub>
						</ion-text>
						
						<ion-text *ngIf="new !== retype" lines="non" color="danger">
						</ion-text>
					</ion-item>
					<ion-button color="primary" type="submit" expand="block" [disabled]="!form.valid || new !== retype">Simpan</ion-button>
				</form>
	
			</ion-item-group>
		</ion-list>
	</ion-content>