<!-- <ion-item>
  <ion-avatar slot="start">
    <img src="https://picsum.photos/200">
  </ion-avatar>
  <ion-label>
    <ion-row>
      <ion-col size="12">
        <h2>{{ dataWo.name }}</h2>
        <h3>{{ dataWo.location_name }}</h3>
      </ion-col>
      <ion-col size="12">
        <p>{{ dataWo.site_name }}</p>
        <p>{{ dataWo.building_name }}</p>
      </ion-col>
    </ion-row>
  </ion-label>
</ion-item> -->

<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <img src="/assets/no-image.png" alt="" slot="start" style="width: 20%;">
      <ion-col size="12" class="ion-no-padding">
        <ion-text slot="">
          <ion-row>
            <ion-col size="12">
              <h2>{{ dataWo.name }}</h2>
              <h3>{{ dataWo.location_name }}</h3>
            </ion-col>
            <ion-col size="6">
              <h3>{{ dataWo.site_name }}</h3>
            </ion-col>
            <ion-col size="6">
              <h3>{{ dataWo.building_name }}</h3>
            </ion-col>
          </ion-row>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card-content>
  <ion-item lines="none">
    <ion-button fill="outline" color="primary" (click)="pilihWo(dataWo)" style="width: 100%;">
      <ion-icon slot="start" name="list"></ion-icon>
      Pilih Work Order & Lihat Data Aset
    </ion-button>
  </ion-item>
</ion-card>