<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/order"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Permintaan Baru</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
								<h4>Form Permintaan</h4>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <form #form="ngForm" (ngSubmit)="createOrder(form)">
              <ion-item>
                <ion-label position="floating">Code : <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input [(ngModel)]="order.code" #code="ngModel" type="text" name="code"
                  required></ion-input>
                <ion-text *ngIf="code.invalid && code.touched" color="danger" lines="none">
                  <p>Harap Masukan Code</p>
                </ion-text>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Tanggal :<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input [(ngModel)]="order.tanggal" #tanggal="ngModel" name="tanggal"
                  type="text" required></ion-input>
                <ion-text *ngIf="tanggal.invalid && tanggal.touched" color="danger" lines="none">
                  <p>Harap Masukan Tanggal </p>
                </ion-text>
              </ion-item>

              <ion-item>
									<ion-label>Site : </ion-label>
									<ionic-selectable [(ngModel)]="order.site_id" name="siteId" [items]="dataSite"
										itemValueField="id" itemTextField="name" headerColor="primary"
										searchFailText="Data Site Tidak di-Temukan!" [canSearch]="true">
	
										<ng-template ionicSelectableCloseButtonTemplate>
											<ion-icon name="close-circle"></ion-icon>
										</ng-template>
	
										<ng-template ionicSelectableTitleTemplate>
											Pilih Site
										</ng-template>
	
										<ng-template ionicSelectableItemTemplate let-site="item" selected>
											({{ site.name }}) {{ site.desc }}
										</ng-template>
	
									</ionic-selectable>
								</ion-item>

              <ion-item>
									<ion-label position="floating">Notes <ion-text color="danger">*</ion-text>
									</ion-label>
									<ion-textarea [(ngModel)]="order.notes" #notes="ngModel" rows="3" name="notes" required>
									</ion-textarea>
									<ion-text *ngIf="notes.invalid && notes.touched" lines="none" color="danger">
										*Harap isi Notes
									</ion-text>
								</ion-item>

              <ion-item lines="none">
                <ion-text class="ion-text-center" style="color: 737373;">
                  <p>Detail - Order</p>
                </ion-text>
              </ion-item>

              <ion-item>
                <ion-label>Model : </ion-label>
                <ionic-selectable [(ngModel)]="order.model_id" name="modelId" [items]="dataModel"
                  itemValueField="id" itemTextField="name" headerColor="primary"
                  searchFailText="Data Model Tidak di-Temukan!" [canSearch]="true">

                  <ng-template ionicSelectableCloseButtonTemplate>
                    <ion-icon name="close-circle"></ion-icon>
                  </ng-template>

                  <ng-template ionicSelectableTitleTemplate>
                    Pilih Model
                  </ng-template>

                  <ng-template ionicSelectableItemTemplate let-model="item" selected>
                    ({{ model.name }}) {{ model.desc }}
                  </ng-template>

                </ionic-selectable>
              </ion-item>

              <ion-button expand="full" color="primary" type="submit" [disabled]="form.invalid"
								style="margin-top: 20px;">
								Buat Permintaan
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>