<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/aset"></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-text-center">Edit Aset</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon slot="start" name="checkmark"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
	<ion-grid class="ion-no-padding">
		<ion-row>
			<ion-col size="12">
				<ion-card>
					<!-- <img src="/assets/no-image.png"> -->
					
					<!-- <img [src]="base64image" onerror="this.src='/assets/no-image.png';"> -->

					<!-- <div *ngIf="base64image === null">
						<img src="/assets/no-image.png">
					</div>
					
					<div *ngIf="base64image !== null">
						<img [src]="base64image" onerror="this.src='/assets/no-image.png';">
					</div> -->

					<div *ngIf="imageAset === null">
						<img src="/assets/no-image.png">
					</div>

					<div *ngIf="imageAset !== null && uploadImg === null">
						<img [src]="transform(imageAset[imageAset.length-1].asset_image)">
					</div>
					
					<div *ngIf="uploadImg !== null">
						<img [src]="uploadImg.path" onerror="this.src='/assets/no-image.png';">
					</div>

					<ion-card-header>
						<ion-row>
							<ion-col size="6">
								<ion-card-subtitle class="ion-text-center">
									<!-- <ion-button expand="block" shape="round" color="success" size="small" fill="outline"> -->
										Edit Data Aset
									<!-- </ion-button> -->
								</ion-card-subtitle> 
							</ion-col>
							<ion-col size="6">
								<ion-card-subtitle class="ion-text-center" (click)="cameraUp()">
									<!-- <ion-button expand="block" shape="round" color="warning" size="small" fill="outline"> -->
										Ganti Photo Aset
									<!-- </ion-button> -->
								</ion-card-subtitle> 
							</ion-col>
						</ion-row>
					</ion-card-header>
					<ion-card-content>
						<form #form="ngForm" (ngSubmit)="makeUpdate(form)">
							<ion-item>
								<ion-label position="floating">QR Code <ion-text color="danger">*</ion-text></ion-label>
								<ion-input [(ngModel)]="detailAset.qr_code" #qrCode="ngModel" name="qrCode" type="text" (click)="scanQr()" required readonly></ion-input>
								<ion-text *ngIf="qrCode.invalid && qrCode.touched" color="danger" lines="none">
									<p>Harap Scan Kode QR</p>
								</ion-text>
							</ion-item>
							
							<ion-item>
								<ion-label position="floating">Kondisi Aset <ion-text color="danger">*</ion-text></ion-label>
								<ion-input [(ngModel)]="detailAset.condition" #condition="ngModel" type="text" name="condition" required></ion-input>
								<ion-text *ngIf="condition.invalid && condition.touched" color="danger" lines="none">
									<p>Harap Masukan Kondisi Aset</p>
								</ion-text>
							</ion-item>

							<ion-item>
								<ion-label position="floating">Serial Number <ion-text color="danger">*</ion-text></ion-label>
								<ion-input [(ngModel)]="detailAset.serial_number" #serialNumber="ngModel" name="serialNumber" type="text" required></ion-input>
								<ion-text *ngIf="serialNumber.invalid && serialNumber.touched" color="danger" lines="none">
									<p>Harap Masukan Serial Number</p>
								</ion-text>
							</ion-item>

							<ion-item>
								<ion-label position="floating">Accounting Number <ion-text color="danger">*</ion-text></ion-label>
								<ion-input [(ngModel)]="detailAset.accounting_number" #accountingNumber="ngModel" name="accountingNumber" type="text" required></ion-input>
								<ion-text *ngIf="accountingNumber.invalid && accountingNumber.touched" color="danger" lines="none">
									<p>Harap Masukan Accounting Number</p>
								</ion-text>
							</ion-item>

							<ion-item>
								<ion-label position="floating">Year Purchase <ion-text color="danger">*</ion-text></ion-label>
								<ion-input [(ngModel)]="detailAset.year_purchase" #yearPurchase="ngModel" name="yearPurchase" type="text" required></ion-input>
								<ion-text *ngIf="yearPurchase.invalid && yearPurchase.touched" color="danger" lines="none">
									<p>Harap Masukan Year Purchase</p>
								</ion-text>
							</ion-item>
							
							<ion-item>
								<ion-label position="floating">Aset Value <ion-text color="danger">*</ion-text></ion-label>
								<ion-input [(ngModel)]="detailAset.asset_value" #assetValue="ngModel" name="assetValue" type="text" required></ion-input>
								<ion-text *ngIf="assetValue.invalid && assetValue.touched" color="danger" lines="none">
									<p>Harap Masukan Aset Value</p>
								</ion-text>
							</ion-item>
							
							<ion-item>
								<ion-label position="floating">Notes <ion-text color="danger">*</ion-text></ion-label>
								<ion-textarea [(ngModel)]="detailAset.notes" #notes="ngModel" rows="3" name="notes" required></ion-textarea>
								<ion-text *ngIf="notes.invalid && notes.touched" lines="none" color="danger">
									*Harap isi Notes
								</ion-text>
							</ion-item>

							<ion-item lines="none">
								<ion-text class="ion-text-center" style="color: 737373;">
									<p>Data Lokasi dan Kepemilikan Aset</p>
								</ion-text>
							</ion-item>

							<ion-item>
								<ion-label>Brand : </ion-label>
								<ionic-selectable [(ngModel)]="detailAset.brand_id"
									name="brandId"
									[items]="dataBrand"
									itemValueField="id"
									itemTextField="name"
									headerColor="primary"
									searchFailText="Data Brand Tidak di-Temukan!"
									[canSearch]="true"
									(onChange)="model($event)"
									>

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Brand Aset
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-brand="item" selected>
										({{ brand.name }}) {{ brand.desc }}
									</ng-template>

								</ionic-selectable>
							</ion-item>

							<ion-item>
								<ion-label>Model : </ion-label>
								<ionic-selectable [(ngModel)]="detailAset.model_id"
									name="modelId"
									[items]="dataModel"
									itemValueField="id"
									itemTextField="name"
									headerColor="primary"
									searchFailText="Data Model Tidak di-Temukan!"
									[canSearch]="true"
									>

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Model Aset
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-model="item" selected>
										({{ model.name }}) {{ model.desc }}
									</ng-template>

								</ionic-selectable>
							</ion-item>

							<ion-item>
								<ion-label>Ruangan : </ion-label>
								<ionic-selectable [(ngModel)]="detailAset.room_id"
									name="roomId"
									[items]="dataRoom"
									itemValueField="id"
									itemTextField="name"
									headerColor="primary"
									searchFailText="Data Room Tidak di-Temukan!"
									[canSearch]="true"
									>

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Ruangan Aset
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-room="item" selected>
										({{ room.name }}) {{ room.desc }}
									</ng-template>

								</ionic-selectable>
							</ion-item>

							<ion-item>
								<ion-label>Pemilik : </ion-label>
								<ionic-selectable [(ngModel)]="detailAset.owner_id"
									name="ownerId"
									[items]="dataOwner"
									itemValueField="id"
									itemTextField="name"
									headerColor="primary"
									searchFailText="Data Owner Tidak di-Temukan!"
									[canSearch]="true"
									>

									<ng-template ionicSelectableCloseButtonTemplate>
										<ion-icon name="close-circle"></ion-icon>
									</ng-template>

									<ng-template ionicSelectableTitleTemplate>
										Pilih Owner Aset
									</ng-template>

									<ng-template ionicSelectableItemTemplate let-owner="item" selected>
										({{ owner.name }}) {{ owner.desc }}
									</ng-template>

								</ionic-selectable>
							</ion-item>

							<ion-button expand="full" color="primary" type="submit" [disabled]="form.invalid" style="margin-top: 20px;">
								Simpan Perubahan Data Aset
							</ion-button>
						</form>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content> 