<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="mainMenu" (ionWillOpen)="getUser()">
      <ion-content>
				<div style="text-align: center; margin-top: 50px; margin-bottom: 30px;" (click)="openProfile()">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKC2yrLJxoODZrmJy_wjZr1dqyah4JLCyVCs9qEtHopnIKyZQ7NQ" style="border-radius: 50px; width: 100px;">
					<div style="font-size: 20px; margin-top: 5px; margin-bottom: 3px; color:black;">
						{{ userName }}
					</div>
					<div style="font-size: 14px; color:black;">{{ userStatus }} Account</div>
				</div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
					</ion-menu-toggle>
					<ion-item (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
