<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button menu="mainMenu"></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center">Data Aset</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="scanQr()">
				<ion-icon slot="start" name="qr-scanner"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar color="primary">
    <ion-list-header class="ion-no-padding">
			<ion-searchbar 
				showCancelButton="never" 
				placeholder="Cari Aset" 
				debounce="10000"
				(ionInput)="cari($event)" 
				style="padding: 15px;" color="light" >
			</ion-searchbar>
    </ion-list-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
	<ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<app-aset-list *ngFor="let aset of dataAset" [dataAset]="aset" [hrefLink]="generateLink()"></app-aset-list>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-infinite-scroll threshold="30%" (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
