<ion-grid class="ion-padding">
	<ion-row class="ion-justify-content-center">
		<ion-col class="ion-align-self-center"  size="12" style="margin-top: 15%;">
			<h2 class="ion-text-center">Selamat Datang di-Aplikasi</h2>
			<h3 class="ion-text-center">Asetin Mobile</h3>
		</ion-col>
		<ion-col class="ion-align-self-center" size="12" style="margin-top: 10%;">
			<ion-text class="ion-text-center ion-padding" color="primary">
				<p class="ion-no-margin">Silahkan Masuk Untuk Memulai Sesi</p>
			</ion-text> 
			<form #form="ngForm" (ngSubmit)="login(form)" style="padding: 0px 10%;">
				<ion-item>
					<ion-input [(ngModel)]="email" name="email" type="email" placeholder="E-Mail" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password" required></ion-input>
				</ion-item>
				<ion-button expand="full" color="primary" type="submit" [disabled]="form.invalid" style="margin-top: 10%;">
					Masuk
				</ion-button>
				<p class="ion-text-center ion-no-margin" style="margin-top: 5% !important;">Belum Punya Akun ?</p>
				<ion-button expand="full" color="danger" style="margin-top: 5% !important;">
					Daftar
				</ion-button> 
			</form>
		</ion-col>
	</ion-row>
</ion-grid>