<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/aset/{{ asetId }}"></ion-back-button>
		</ion-buttons>
		<ion-title>Data Photo Aset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding galery">
	<ion-grid fixed>
		<ion-row>
			<ion-col *ngFor="let img of images" size="6">
				<ion-card>
					<img [src]="transform(img.asset_image)" (click)="detailImage(img.asset_image)" 
					onerror="this.src='/assets/no-image.png';">
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
